<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <title>{% block title%}{% endblock title%} - 選課小幫手</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">選課小幫手</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{#            <li class="nav-item">#}
{#              <a class="nav-link active" aria-current="page" href="#">選課小幫手</a>#}
{#            </li>#}
          </ul>
        <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('account.login') }}">登入</a>
            </li>
            <li>
                <a class="nav-link active" href="{{ url_for('account.register') }}">註冊</a>
            </li>
            </ul>
        </div>
        </div>
      </div>
    </nav>
    <div class="container-md mt-3">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>