<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}{% endblock title%} - 選課小幫手</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">選課小幫手</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="{{ url_for('table_bp.table') }}">排課</a>
                {% if session.get('username') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        帳號管理
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('user_bp.profile') }}">{{ session['username'] }}</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user_bp.logout') }}">登出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <a class="nav-link" href="{{ url_for('user_bp.login') }}">登入</a>
                    <a class="nav-link" href="{{ url_for('user_bp.register') }}">註冊</a>
                {% endif %}
            </div>
        </div>
      </div>
    </nav>
    <div class="container-md mt-3 mb-3">
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        {% with successes = get_flashed_messages(category_filter=["success"]) %}
            {% if successes %}
            <div class="alert alert-success" role="alert">
                <ul>
                    {% for success in successes %}
                        <li>{{ success }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>